@font-face {
	font-family:"Yanone Kaffeesatz Bold";
	src:url("YanoneKaffeesatz-Bold.eot?") format("eot"),
	url("YanoneKaffeesatz-Bold.svg#YanoneKaffeesatz-Bold") format("svg"),
	url("YanoneKaffeesatz-Bold.woff") format("woff"),
	url("YanoneKaffeesatz-Bold.ttf") format("truetype");
	font-weight:normal;
	font-style:normal;
}
